<div class="nav_container">
    <h1>LaSell</h1>
    <div class="nav">
        <div class="nav_left">
            <a href="/explore">Explore</a>
            <a href="/activity">Activity</a>
            <a href="/profile">Profile</a>
        </div>

        <div class="nav_right">
            <div class="tooltip">
                <span class="create icon"> <a href="/auction"> </a> </span>
                <span class="tooltiptext"> Create Auction </span>
            </div>
            <span class="logout icon"> <a href="/login/logout"> </a> </span>
        </div>
    </div>
</div>