<div class="nav_container">
    <h1>LaSell</h1>
    <div class="nav">
        <div class="nav_left">
        <a href="/home">Home</a>
        <a href="/activity">Activity</a>
        <a href="/profile">Profile</a>

        </div>

        <div class="nav_right">
        <a href="/create">Create an Auction</a>
        <a href="/login">Sign Out</a>
        </div>
    </div>
</div>