<div class="nav_container">
    <h1>LaSell</h1>
    <div class="nav">
        <div class="nav_left">
            <a href="/explore">Explore</a>
            <a href="/activity">Activity</a>
            <a href="/profile">Profile</a>
        </div>

        <div class="nav_right">
            <a href="/create">/auction sprite/</a>
            <a href="/login">/signout sprite/</a>
        </div>
    </div>
</div>