<div class="post close" onclick="toAuction('{{_id}}')">
    <div class="post_image">
        <img src="{{productImg}}">
    </div>

    <div class="postclose_info">
        <p class="productName">{{productName}} </p>

        <div class="status">
            <span class="closedsign"> CLOSED </span> 
            <span class="expiryIcon"> </span>
            <p class="expiry"> {{expiryDate}}</p>
        </div>
    </div>


</div>