<div class="tile close" onclick="toAuction('{{_id}}')">
    <img src="{{productImg}}">
    <p class="productName"> {{productName}}</p>
    
    <span class="closedsign"> CLOSED </span>

    <div class="expiry">
        <span class="expiryIcon" alt="expiry"> </span>
        <p>{{expiryDate}}</p>
    </div>

</div>