<div class="activity_container">
    {{!-- <h1>{{title}}</h1> --}}
    <div id="watchedContainer" class="list_container">
        <h2>Watched</h2>
        <div id="watchedList" class="list">
            {{#each watched}}
                {{#isClosed auctionID.expiryDate}}
                    {{>tileclose auctionID}}
                {{else}}
                    {{>tile auctionID}}
                {{/isClosed}}
            {{/each}}
        </div>
    </div>
    
    <div id="bidsContainer" class="list_container">
        <h2>Active Bids</h2>
        <div id="bidsList" class="list">
            {{#each bids}}
                {{#isClosed expiryDate}}
                    {{>tileclose}}
                {{else}}
                    {{>tile}}
                {{/isClosed}}
            {{/each}}
        </div>
    </div>
</div>