<div class="create_container">
    
    <p> Create an Auction </p>
     
    <div class="create_description">        
        {{!-- <input type="text" id="productDescription" placeholder="Description" maxlength="150"> --}}
        <textarea id="productDescription" placeholder="Description" rows="10" maxlength="300"></textarea>

        <div class="status">
         
            <div class="icons">
                <div class="tooltip">
                    <span class="deliveryIcon"> </span>
                    <span class="tooltiptext"> Delivery </span>
                </div>

               <div class="tooltip">
                    <span class="contactIcon"> </span>
                    <span class="tooltiptext"> Contact Number </span>
                </div>

                <div class="tooltip">
                    <span class="highestbidIcon"> </span>
                    <span class="tooltiptext"> Highest Bid </span>
                </div>

                <div class="tooltip">
                    <span class="incrementIcon"> </span>
                    <span class="tooltiptext"> Increments </span>
                </div>
                
                 <div class="tooltip">
                    <span class="expirydateIcon"> </span>
                    <span class="tooltiptext"> Expiry Date </span>
                </div>
                

                 <div class="tooltip">
                    <span class="expiryIcon"> </span>
                    <span class="tooltiptext"> Expiry Time </span>
                </div>
                
            </div>

            <div class="values">
                <input type="text" id="delivery" placeholder="Delivery">
                <input type="number" id="contactNum" placeholder="Contact No.">
                <input type="number" id="startingBid" placeholder="Starting Bid" min="1">
                <input type="number" id="increments" placeholder="Increments">
                <input type="date" id="expiryDate" placeholder="Expiry Date">
                <input type="time" id="expiryTime" placeholder="Expiry Time">
            </div>
            
        </div>
    </div>

    <input type="text" id="productName" placeholder="Product Name">

    <div class="create_image">
        <input type="file" name="file" id="file" accept="image/*">
        <img id="imgPreview" src="/images/icons/productFiller.png"> 
    </div>


    {{!-- <div class="create_controls">
        <input type="number" id="increments" placeholder="Increments">
    </div> --}}

    <p class="errorMsg" id="errorMsg"> </p>
    
    <button onclick="createAuction()">Create Auction</button>
    
</div>


