<div>
    <p id="errorMsg"></p>
    <input type="text" id="productName" placeholder="Product Name">
    <input type="text" id="productDescription" placeholder="Description">
    <input type="text" id="delivery" placeholder="Delivery">
    <input type="text" id="contactNum" placeholder="Contact">
    <input type="date" id="expiryDate" placeholder="Expiry Date">
    <input type="time" id="expiryTime" placeholder="Expiry Time">
    <input type="number" id="startingBid" placeholder="Starting Bid">
    <input type="number" id="increments" placeholder="Increments">
    <div>
        <input type="file" name="file" id="file" accept="image/*">
        <button id="uploadImgBtn"> Upload your photo </button>
        <img id="imgPreview" src="images/questionmark.png"> 
    </div>
    <button onclick="createAuction()">Create Auction</button>
</div>