<div class="profile_container">
    <div class="seller_info">
        <img src="{{sellerImg}}" alt="image">
        <p class="sellerName">sellername</p>
        <p class="location">location</p>
    </div>


    <div class="profile_posts">
        {{#each post}}
            {{>card}}
        {{/each}}
    </div>
</div>