/* Layouting purposes only (delete when finished) */
body, body *{
    border: 0.5px solid red;
}


/* GENERAL */
body > *{
    font-family: Arial, Helvetica, sans-serif;
}

.productName {
    font-size: x-large;
    font-weight: bold;
}

.seller_info {
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
}

.seller_info > p {
    margin: 1px;
    font-weight: bold;
}

.seller_info .name {
    grid-column: 2;
    grid-row: 1;
}

.seller_info .location {
    grid-column: 2;
    grid-row: 2;
    font-size: smaller;
}

.seller_info .rating {
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    font-size: larger;
}

.seller_info >  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 75px;
    grid-row: 1/3;
    justify-self: center;
}


/* HEADER */

.nav_container {
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    padding: 1px;
    margin: 30px;
    column-gap: 30px;
}

.nav_container h1 { 
    margin: 1px;
    justify-self: start;
    letter-spacing: 2px;
    font-size: 40px;
    
}

.nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: stretch;
}

.nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px; 
    font-weight: bold;
    color: gray;
}

.nav a:hover{
    color:black;
    transition: 0.1s ease-in;
}

.nav_left > .activeTab {
    color:black;
}

.nav_left {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    justify-self: start;
    column-gap: 15px;
}

.nav_right {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    column-gap: 15px;
}




/* EXPLORE */
.explore_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    row-gap: 15px;
}

/* @media only screen and (max-width: 800px){
    .explore_container {
        grid-template-columns: 1fr;
    }
}  not sure with dimensions pa */


/* CARDS */

.card {
    width: 350px;
    padding: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
}

.card_image {
    width: inherit;
}

.card_image > img {
    width: inherit;
    border-radius: 10px;
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
    background-color: white;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    justify-items: stretch;
    row-gap: 1px;
}

.card_info > * {
    margin: 1px;
}

.card_info > .productName {
    grid-column: 1/6;
}

.card_info > .status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
    grid-row: 3;
    grid-column: 1/6;
    column-gap: 3px;
    height: 100
}

.card_info > .status > p {
    margin: 1px;
    font-size: 13px;
}

.card_info > .status > .expiry {
    grid-column: 6;
}

#bidIcon {
    /* sprite settings */
}

#eyeIcon {
    /* sprite settings */
}


/* VIEW AUCTION */

.auction_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
    margin-left: 20em;
    margin-right: 20em;
    column-gap: 20px;
}

.auction_container > .seller_info {
    grid-row: 1;
}

.auction_description {
    align-items: start;
    align-content: start;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 6fr;
    row-gap: 5px;
    min-height: 450px;
    max-height: 450px;
    max-width: 250px;
    min-width: 250px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 15px;
    grid-row: 1/3;
}

.auction_description > * {
    margin: 5px;

}

.auction_description > .productName {
    font-size: 25px;
}

.auction_description > .status {
    grid-row: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.auction_description > .status * {
    margin: 3px;
}

.auction_image {
    width: 450px;
    grid-row: 2/4;
}

.auction_image > img {
    width: inherit;
    border-radius: 10px;
    max-height: 450px;
    min-height: 450px;
    object-fit: contain;
    background-color: whitesmoke;
    justify-self: center;
}

.auction_controls {
    justify-self: center;
    grid-row: 3;
}
