/* Layouting purposes only (delete when finished) */
body, body *{
    /* border: 0.5px solid red; */
}


/* GENERAL */

html, body {
    height: 100%;
}

body > *{
    font-family: Arial, Helvetica, sans-serif;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

.divider {
    height: 10px;
}

.bodyContainer {
    height: 84%;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.bodyContainer > div {
    box-sizing: border-box;
}

.productName {
    font-size: x-large;
    font-weight: bold;
}

.seller_info {
    display:grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.seller_info:hover {
    border: 2px solid whitesmoke; 
    border-radius: 10px;
    padding: 3px;
}

.seller_info > p {
    margin: 1px;
    font-weight: bold;
}

.seller_info .sellerName {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
}

/* .seller_info .location {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
} */

/* .seller_info .rating {
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    font-size: larger;
} */

.seller_info >  img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 75px;
    /* grid-row: 1/3; */
    justify-self: center;
}

.status {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-row: 8;
    align-items: center;
}

.status * {
    margin: 3px;
}

.status > span {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.values {
    display: grid;
    row-gap: 2px;
}

.values > p {
    font-size: 12px;
}

.values > input, .status > p{
    font-size: 12px;
    height: 18px;
}

.icons {
    display: grid;
}

.icons > div > span {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.status > span {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.bidPrice > span, .watchers > span, .expiry > span {
    display: inline-block;
    width: 25px;
    height: 25px;
}


.deliveryIcon {
    background: url(../images/icons/sprites.svg) -30px 0;
    background-size: 151px 151px;
}


.contactIcon {
    background: url(../images/icons/sprites.svg) -30px -50px;
    background-size: 151px 151px;
}

.highestbidIcon {
    background: url(../images/icons/sprites.svg) -30px -25px;
    background-size: 151px 151px;
}

.highestbidderIcon {
    background: url(../images/icons/sprites.svg) -55px -50px;
    background-size: 151px 151px;
}


.incrementIcon {
    background: url(../images/icons/sprites.svg) -55px 0px;
    background-size: 151px 151px;
}

.expiryIcon {
    background: url(../images/icons/sprites.svg) -30px -75px;
    background-size: 151px 151px;
}

.expirydateIcon {
    background: url(../images/icons/sprites.svg) -30px -100px;
    background-size: 151px 151px;
}

.eyeIcon {
    background: url(../images/icons/sprites.svg) -55px -25px;
    background-size: 151px 151px;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    height: 15px;
    font-size: 12px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.closedsign {
    color: #D01B1B;
    font-weight: bold;
}

.closedline {
    color: gray;
}








/* HEADER */

.nav_container {
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    padding: 25px 25px 20px 25px;
    /* margin: 30px 30px 20px 30px; */
    column-gap: 30px;
    height: 15%;
    box-sizing: border-box;
}

.nav_container h1 { 
    margin: 1px;
    justify-self: start;
    letter-spacing: 2px;
    font-size: 40px;
    
}

.nav_container h1:hover{
    color: #4A7A6C;
    transition: 0.1s;
    cursor: pointer;
}

.nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: stretch;
}

.nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px; 
    font-weight: bold;
    color: gray;
}

.nav a:hover{
    color:black;
    transition: 0.1s ease-in;
}

.nav_left > .activeTab {
    color:black;
}

.nav_left {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    justify-self: start;
    column-gap: 25px;
}

.nav_right {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    column-gap: 35px;
    margin: 0 30px 0 0;
}

.nav_right span, .nav_right a {
    height: 30px;
    display: block;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 151px 151px;
}

.logout a:link, .logout a:visited {
    background: url(../images/icons/sprites.svg) 0 0;
    background-size: 151px 151px;
}

.logout a:hover {
    background: url(../images/icons/sprites.svg) 0 -30px;
    background-size: 151px 151px;
    transition: 0s;
}

.create {
    background: url(../images/icons/sprites.svg) 0 -60px;
    background-size: 151px 151px;
}

.create a:hover {
    background: url(../images/icons/sprites.svg) 0 -90px;
    background-size: 151px 151px;
    transition: 0s;
}






/* EXPLORE */

.explore_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    justify-items: center;
    justify-content: center;
    row-gap: 30px;
    padding: 30px;
}

/* @media only screen and (max-width: 800px){
    .explore_container {
        grid-template-columns: 1fr;
    }
}  not sure with dimensions pa */







/* CARDS */

.card {
    width: 350px;
    padding: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    background-color: whitesmoke;
    row-gap: 10px;
}

.card:hover {
    background-color: #BBE5B7;
    transition: 0.1s ease-out;
}

.card_image {
    width: inherit;
}

.card_image > img {
    width: inherit;
    border-radius: 10px;
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
    background-color: white;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    justify-items: stretch;
    row-gap: 1px;
}

.card_info > * {
    margin: 1px;
}

.card_info > .productName {
    grid-column: 1/6;
}

.card_info > .status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 8fr 1fr 9fr;
    grid-row: 3;
    grid-column: 1/6;
    column-gap: 3px;
    height: 100;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.card_info > .status > p {
    margin: 1px;
    font-size: 13px;
}

.card_info > .status >.expiryIcon {
    grid-column: 6;
}

.card_info > .status > .expiry {
    grid-column: 7;
}






/* ACTIVITY */
.activity_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 100%;
    justify-content: center;
}

.activity_container > .list_container {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: start;
}

.activity_container .list {
    display: grid;
    row-gap: 20px;
}

#watchedContainer {
    background-color: white;
}

#bidsContainer {
    background-color: #002B23;
}

#bidsContainer > h2{
    color: white;
}








/* TILE */


.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    height: 100px;
    width: 500px;
    padding: 10px;
    background-color: whitesmoke;
    column-gap: 5px;
    border-radius: 10px;
}

.tile:hover {
    background-color: #BBE5B7;
    transition: 0.1s ease-out;
}

.tile p {
    font-weight: bold;
    font-size: 13px;
}

.tile > img {
    width: 100px;
    max-height: 100px;
    min-height: 100px;
    object-fit: contain;
    background-color: white;
    justify-self: center;
    grid-row: 1/4;
}

.tile  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.tile > .productName {
    grid-row: 1/3;
    grid-column: 2/5;
    font-size: 20px;
    margin: 1px;
    align-self: center;
} 


.tile > .bidPrice {
    display: grid;
    grid-row: 3;
    justify-self: end;
}

.tile > .watchers {
    grid-row: 3;
    display: grid;
    justify-self: end;
}

.tile > .expiry {
    display: grid;
    column-gap: 10px;
    justify-items: end;
    justify-self: end;
    grid-row: 3;
}


.tile.close {
    column-gap: 10px;
}

.tile.close:hover{
    background-color: #a6a6a6;
    transition: 0.1s ease-out;
}


.tile.close >.expiry{
    grid-column: 4;
}


.tile.close > .closedsign {
    grid-row: 3;
    grid-column: 2; 
    justify-self: end;
    align-self: center;
}



/* VIEW AUCTION */

.auction_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 0.5em;
    margin-left: 20em;
    margin-right: 20em;
    column-gap: 20px;
    row-gap: 10px;
    height: 100%;
}


.auction_container > h1 {
    grid-row: 1;
    margin: 1px;
    font-size: 25px;
}

.auction_description {
    align-items: start;
    align-content: start;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 6fr;
    row-gap: 5px;
    min-height: 450px;
    max-height: 450px;
    /* max-width: 250px; */
    min-width: 250px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 15px;
    grid-row: 1/3;
    grid-column: 2;
}

.auction_description > .textdescription {
    background-color: whitesmoke;
    padding: 10px;
    justify-items: center;
    text-align: justify;
    position: relative;
}

.auction_description > .textdescription::after {
    content: "";
    display: block;
    position: absolute;
    top: -13px;
    left: 15px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 15px solid whitesmoke;   
}

.auction_description > * {
    margin: 5px;

}

.auction_description > .status {
    display: grid;
    grid-row: 4;
    align-self: end;
    align-items: stretch;
}

.auction_description > .status > .values {
    display: grid;
    row-gap: 2px;
    align-items: center;
}

.auction_image {
    width: 450px;
    grid-row: 2/4;
    display: grid;
    row-gap: 3px;
}

.auction_image > img {
    width: inherit;
    border-radius: 10px;
    max-height: 450px;
    min-height: 450px;
    max-width: 450px;
    object-fit: contain;
    background-color: whitesmoke;
    justify-self: center;
}

.auction_controls {
    display: grid;
    justify-self: center;
    grid-row: 3/4;
    grid-column: 2;
    row-gap: 5px;
}

.auction_controls > .form {
    justify-self: center;
}

.auction_controls > .form > input {
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
}

.auction_controls > .form > .bidClass {
    background-color: black;
    color: white;
    height: 25px;
    width: 50px;
}

.auction_controls > .form > .bidClass:hover {
    background-color: whitesmoke;
    border: 0.2px solid black;
    color: black;
    transition: 0.1s ease-in;
}

.auction_controls > p {
    font-size: 11px;
    justify-self: center;
    margin: 0px;
}


.watchBtns > button {
    width: 200px;
    height: 25px;
    border: none;
    color: white;
    justify-self: center;
}


.watchBtns > .watch {
    background-color: gray;
}

.watchBtns > .watch:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.1s ease-in;
    border: 0.2px solid black;
}

.watchBtns > .unwatch {
    background-color: #D01B1B;
}

.watchBtns > .unwatch:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.1s ease-in;
    border: 0.2px solid black;
}


.auction_controlsleft {
    display: grid;
    grid-column: 0/1;
    grid-row: 4;
    grid-template-columns: 5fr 1fr;
}

.auction_controlsleft > p {
    margin: 1px;
    font-size: 14px;
    font-weight: bold;
    color: green;
    text-align: end;
    align-self: center;
}

.auction_controlsleft > button {
    background-color: black;
    color: white;
    height: 25px;
    width: 100px;
}

.auction_controlsleft > button:hover {
    background-color: whitesmoke;
    border: 0.2px solid black;
    color: black;
    transition: 0.1s ease-in;
}

.auctionclose_controls {
    display: grid;
    justify-self: center;
    justify-items: center;
    grid-row: 3;
    grid-column: 2;
    row-gap: 5px;
}

.auction_winner {
    font-weight: bold;
    font-size: 15px;
    margin: 1px;
}



/* CREATE AUCTION */

.create_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 0.5em;
    margin-left: 20em;
    margin-right: 20em;
    column-gap: 20px;
    row-gap: 8px;
    height: 100%;
}

.create_container > input {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin: 1px;
}


.create_container > p {
    font-size: 25px;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1;
    margin: 1px 1px 10px 1px;
}

.create_description {
    align-items: start;
    align-content: start;
    display: grid;
    grid-template-rows: 1fr 6fr;
    min-height: 450px;
    max-height: 450px;
    /* max-width: 250px; */
    min-width: 250px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 15px;
    grid-row: 2/4;
    grid-column: 2;
}

.create_description > * {
    margin: 15px;
}

.create_description > .status {
    display: grid;
    align-content: center;
    align-items: center;
}

.create_description > #productDescription {
    height: 180px;
    font-size: 12px;
    border: 1px solid gray;
}

.create_description > .status > .values {
    row-gap: 4px;
}

.create_image {
    grid-row: 3/6;
    grid-column: 1;
}

.create_image > #imgPreview {
    width: inherit;
    border-radius: 10px;
    max-height: 450px;
    min-height: 450px;
    max-width: 450px;
    min-width: 450px;
    object-fit: contain;
    background-color: whitesmoke;
    justify-self: center;
}

.create_container > .errorMsg {
    font-size: 12px;
    justify-self: center;
    margin: 1px;
    grid-column: 2;
    grid-row: 6;
}

.create_container > button {
    height: 40px;
    grid-row: 4/6;
    grid-column: 2;
}

.create_container > button:hover {
    background-color: #002B23;
    color: white;
    transition: 0.05s ease-in;
}










/* LOGIN */

.login_background {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: whitesmoke;
   
}
.login_container {
    display: grid;
    justify-self: center;
    align-self: center;
    height: 65%;
    width: 750px;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 5px;
    box-shadow: 9px 8px 2px -4px rgba(0,0,0,0.22);
}

.login_left{
    display: grid;
    justify-items: start;
    background: url(../images/loginleft_bg.jpg) 0 -120px;
    background-size: 400px 600px;
}

.login_left > .greeting {
    font-size: 30px;
    margin: 10px;
    align-self: end;
}

.login_left > .greeting > p {
    margin: 1px;
    font-weight: bold;
    color: white;
}

.login_right {
    display: grid;
    justify-content: center;
    align-content: start;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
}

.login_right > div {
    margin: 30px 0 0 0;
}

.tablinks {
    border: none;
    outline: none;
    transition: 0.2s ease-out;
    font-size: 17px;
    font-weight: bold;
    margin: 0 4px 0 0;
    background-color: white;
}

.tablinks:hover {
    background-color: gray;
    transition: 0.2s ease-in-out;
}

.tablinks.active {
    background-color: whitesmoke;
}

.tab_container {
    padding: 15px;
    background-color: whitesmoke;
    width: 280px;

}
.tab_container > div > input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: inherit;
    outline: none;
    color: black;
    font-size: 12px;
    height: 20px;
    margin: 0 15px 0 15px;
}

.tab_container > div > input:focus {
    border-bottom: 1px solid black;
    transition: 0.1s ease-out;
    font-weight: bold;
}

.tab_container > div > p {
    margin: 1px;
    font-size: 12px;
}

.loginDiv {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    align-items: start;
    align-content: center;
    row-gap: 20px;
    height: 200px;
}

#loginEmail {
    margin: 20px 15px 0 15px;
}

.registerDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 4fr;
    row-gap: 15px;
    align-content: center;
    height: 350px;

}

.regphoto {
    display: grid;
    justify-items: center;
    margin: 0 0 10px 0;
}

#imgPreview {
    width: 90px;
    border-radius: 75px;
    max-height: 90px;
    min-height: 90px;
    object-fit: contain;
    background-color: white;
}

.login_button {
    outline: none;
    border: none;
    font-size: 13px;
    background-color: #4A7A6C;
    color: white;
    height: 30px;
    align-self: end; 
}

.login_button:hover {
    outline: none;
    border: none;
    font-size: 13px;
    background-color: #002B23;
    color: white;
    height: 30px;
    align-self: end;
    transition: 0.1s ease-in; 
}








/* PROFILE */

.profile_container {
    display: grid;
    justify-content: center;
    row-gap: 30px;
    justify-items: center;
    justify-content: center;
    height: 100%;
}

.profile_container > .seller_info {
    column-gap: 20px;
    width: 400px;
    justify-content: center;
}

.profile_container > .seller_info > img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    grid-row: 1;
}

.profile_container > .seller_info > p {
    margin: 1px;
}

.profile_container > .seller_info > .count {
    font-size: 17px;
    grid-row: 3;
}

.profile_container > .seller_info > .sellerName {
    font-size: 30px;
    grid-row: 1;
}

.profile_posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 10px 10px 30px 10px;
}







/* POST */

.post {
    width: 350px;
    padding: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    background-color: whitesmoke;
}

.post:hover {
    background-color: #BBE5B7;
    transition: 0.1s ease-out;
}

.post_image {
    width: inherit;
}

.post_image > img {
    width: inherit;
    border-radius: 10px;
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
    background-color: white;
}

.post_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    justify-items: stretch;
    row-gap: 1px;
}

.post_info > * {
    margin: 1px;
}

.post_info > .productName {
    grid-column: 1/6;
}

.post_info > .status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 8fr 1fr 9fr;
    grid-row: 3;
    grid-column: 1/6;
    column-gap: 3px;
    height: 100;
}

.post_info > .status > p {
    margin: 1px;
    font-size: 13px;
}

.post_info > .status > .expiryIcon {
    grid-column: 6;
}

.post_info > .status > .expiry {
    grid-column: 7;
}

.postclose_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    justify-items: stretch;
    row-gap: 1px;
}

.postclose_info > * {
    margin: 1px;
}

.postclose_info > .productName {
    grid-column: 1/6;
}

.postclose_info > .status {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 9fr;
    grid-row: 3;
    grid-column: 1/6;
    column-gap: 3px;
    height: 100;
}

.postclose_info > .status > p {
    margin: 1px;
    font-size: 13px;
}

.postclose_info > .status > .expiryIcon {
    grid-column: 5;
}

.postclose_info > .status > .expiry {
    grid-column: 6;
}

.post.close:hover {
    background-color: #a6a6a6;
    transition: 0.1s ease-out;
}
